In [ ]:
import pandas as pd

In [ ]:
data = {
    'name': ['John', 'Mary', 'Peter', 'Lisa'],
    'age': [25, 30, 28, 35],
    'city': ['New York', 'Paris', 'London', 'Tokyo'],
    'salary': [50000, 80000, 60000, 90000]
}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
df['salary']

In [ ]:
df.salary

In [ ]:
df[['name', 'age']]

In [ ]:
df.columns

#### Below code returns series of data on indexs specified using iloc  
#### you can pass one or more indices

In [ ]:
df.iloc[[1,2]]

### Below code is for getting both rows and columns

In [ ]:
df.iloc[[0,1],2]

### *Search by index label shown below*  
### *Pass in a list to specify multiple rows*

In [ ]:
df.loc[0]

In [ ]:
df.loc[[0,1]]